.conversion {
    margin: 2em auto;

    .conversion-wrap {
        width: 376px;
        background-color: $primary;
        margin: 0 auto;
        padding: 1.5rem 3rem;
        border-radius: 4px;
        @include greyShadow;

        &__title {
            font-size: $large;
            font-weight: $fontMedium;
            text-align: center;
            margin: 2rem 0;
        }

        &__content {
            width: 80%;
            margin: 0 auto;
        }

        table {
            width: 90%;
            margin: 2.5rem auto 1.7rem auto;
            border-top: 1px solid $grey-light;
            border-bottom: 1px solid $grey-light;
            padding: 0.5rem;
            border-collapse: collapse;

            td {
                font-weight: $fontRegular;
                border-bottom: solid 1px $grey-light;
                border-top: solid 1px $grey-light;
                padding: 12px 10px;

                &:nth-child(1), :nth-child(2) {
                    text-align: left;
                    width: 20%;
                }
                &:nth-child(3) {
                    text-align: right;
                    width: 60%;
                }
                img {
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
                    border-radius: 100px;
                }
            }
        }

    }
}

