// COLORS
$black: #101010; // Black
$white: #FFFFFF; // White
$orange: #ff7141; // Orange
$orange-light: #ffdad3; 
// Black to White variables:
$grey-darkest: #121212;
$grey-dark: #202020;
$grey: #838383;
$grey-light: #d8d8d8;
$grey-lighter: #f7f7f7;


// COLORS IN TEMPLATE
$primary: $white;
$secondary: $orange;
