//  TYPOGRAPHY
$fontBase: 'Roboto', sans-serif;
$fontIcon: 'Material-Icons';

//  WEIGHTS
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 900;

//  TEXT SIZES
$extraLarge: 24px;
$large: 21px;
$medium: 18px;
$regular: 16px;
$small: 14px;
$extra-small: 12px;




